sitedata.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="site">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="images">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="image">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="filename" type="xs:string" />
                    <xs:element name="thumbnail" type="xs:string" />
                    <xs:element name="location" type="xs:string" />
                    <xs:element name="description" />
                    <xs:element name="purchases">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="prints">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="print">
                                  <xs:complexType>
                                    <xs:attribute name="size" type="xs:string" use="required" />
                                    <xs:attribute name="price" type="xs:decimal" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="frames">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="frame">
                                  <xs:complexType>
                                    <xs:attribute name="size" type="xs:string" use="required" />
                                    <xs:attribute name="price" type="xs:decimal" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:int" use="required" />
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="genre" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="homeImages">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="image" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>